<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hwsservice.dao.AccountMetaMapper" >
  <resultMap id="BaseResultMap" type="cn.hwsservice.bo.AccountMeta" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="account_id" property="accountId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="login_email" property="loginEmail" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="hw_domain_id" property="hwDomainId" jdbcType="VARCHAR" />
    <result column="hw_user_id" property="hwUserId" jdbcType="VARCHAR" />
    <result column="postpaid" property="postpaid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="bundle_status" property="bundleStatus" jdbcType="INTEGER" />
    <result column="create_status" property="createStatus" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="is_arrears" property="isArrears" jdbcType="INTEGER" />
    <result column="arrears_date" property="arrearsDate" jdbcType="TIMESTAMP" />
    <result column="order_switch" property="orderSwitch" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account_id, user_id, login_email, login_name, hw_domain_id, hw_user_id, postpaid, 
    status, bundle_status, create_status, create_date, is_arrears, arrears_date, order_switch, 
    version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from account_meta
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from account_meta
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.hwsservice.bo.AccountMeta" >
    insert into account_meta (id, account_id, user_id, 
      login_email, login_name, hw_domain_id, 
      hw_user_id, postpaid, status, 
      bundle_status, create_status, create_date, 
      is_arrears, arrears_date, order_switch, 
      version)
    values (#{id,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{loginEmail,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{hwDomainId,jdbcType=VARCHAR}, 
      #{hwUserId,jdbcType=VARCHAR}, #{postpaid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{bundleStatus,jdbcType=INTEGER}, #{createStatus,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{isArrears,jdbcType=INTEGER}, #{arrearsDate,jdbcType=TIMESTAMP}, #{orderSwitch,jdbcType=INTEGER}, 
      #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.hwsservice.bo.AccountMeta" >
    insert into account_meta
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="loginEmail != null" >
        login_email,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="hwDomainId != null" >
        hw_domain_id,
      </if>
      <if test="hwUserId != null" >
        hw_user_id,
      </if>
      <if test="postpaid != null" >
        postpaid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="bundleStatus != null" >
        bundle_status,
      </if>
      <if test="createStatus != null" >
        create_status,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="isArrears != null" >
        is_arrears,
      </if>
      <if test="arrearsDate != null" >
        arrears_date,
      </if>
      <if test="orderSwitch != null" >
        order_switch,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="loginEmail != null" >
        #{loginEmail,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="hwDomainId != null" >
        #{hwDomainId,jdbcType=VARCHAR},
      </if>
      <if test="hwUserId != null" >
        #{hwUserId,jdbcType=VARCHAR},
      </if>
      <if test="postpaid != null" >
        #{postpaid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="bundleStatus != null" >
        #{bundleStatus,jdbcType=INTEGER},
      </if>
      <if test="createStatus != null" >
        #{createStatus,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isArrears != null" >
        #{isArrears,jdbcType=INTEGER},
      </if>
      <if test="arrearsDate != null" >
        #{arrearsDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderSwitch != null" >
        #{orderSwitch,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hwsservice.bo.AccountMeta" >
    update account_meta
    <set >
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="loginEmail != null" >
        login_email = #{loginEmail,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="hwDomainId != null" >
        hw_domain_id = #{hwDomainId,jdbcType=VARCHAR},
      </if>
      <if test="hwUserId != null" >
        hw_user_id = #{hwUserId,jdbcType=VARCHAR},
      </if>
      <if test="postpaid != null" >
        postpaid = #{postpaid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="bundleStatus != null" >
        bundle_status = #{bundleStatus,jdbcType=INTEGER},
      </if>
      <if test="createStatus != null" >
        create_status = #{createStatus,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isArrears != null" >
        is_arrears = #{isArrears,jdbcType=INTEGER},
      </if>
      <if test="arrearsDate != null" >
        arrears_date = #{arrearsDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderSwitch != null" >
        order_switch = #{orderSwitch,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hwsservice.bo.AccountMeta" >
    update account_meta
    set account_id = #{accountId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      login_email = #{loginEmail,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      hw_domain_id = #{hwDomainId,jdbcType=VARCHAR},
      hw_user_id = #{hwUserId,jdbcType=VARCHAR},
      postpaid = #{postpaid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      bundle_status = #{bundleStatus,jdbcType=INTEGER},
      create_status = #{createStatus,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      is_arrears = #{isArrears,jdbcType=INTEGER},
      arrears_date = #{arrearsDate,jdbcType=TIMESTAMP},
      order_switch = #{orderSwitch,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>